/*
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;	
	        box-sizing: border-box; 
}
*/

html {
   color: #333
   background-color: #dedede;
   font-size: 16px;
}
.flex {
   /*
   flex container must be applied to the block level HTML element containing the flex items.
   */
   display: flex;
   flex-wrap: nowrap;
   height: 100%;
}

.box { 
   font-family: Consolas, "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Courier New", Courier, monospace;
   width: 100%;
}

.box__code {
   width: 66%;
   outline: 1px dashed slategrey;
}

.box__monitor {
   width: 33%;
   outline: 1px dashed slategrey;
   background-color: gainsboro;
   font-size: 0.9rem;
}

.box--scroll { overflow: auto; }
.box--padding { padding-right: 0.5rem; }

button {  }

.gpBtn {
   margin: 0;
   padding: 0;
   list-style-type: none;
   text-align: center;
}

.gpBtn li {
    display: inline;
}

.gpBtn--layout {
   margin: 0.5rem;
   padding: 0.5rem;
   border: none;
   background-color: Cornflowerblue;
}

.gpBtn--layout:hover {
   background-color: steelblue;
   color: white;
}

/*
.box p { margin: 0.1rem 0; }
*/
/*
 https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Flexible_boxes 
*/
